# electron_mirror=https://npmmirror.com/mirrors/electron/
electron_mirror=https://github.com/electron/electron/releases/download/
# electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
electron_builder_binaries_mirror=https://github.com/electron-userland/electron-builder-binaries/releases/download/
